@keyframes rotar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.mouse-circle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out, width 0.3s ease, height 0.3s ease,
    background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #000000;
  animation: rotar 3s linear infinite;
}

.mouse-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url("icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

.mouse-circle.hovered {
  border-color: #000;
  transform: translate(-50%, -50%) scale(1.1);
}

.mouse-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);

  transform: scale(3.5);
  filter: blur(15px);
  opacity: 0.5;
  transition: transform 0.5s ease-out, filter 0.5s ease-out,
    opacity 0.5s ease-out;
}

.mouse-trail-element {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 9998;
  transition: transform 1.2s ease-out, opacity 1.2s ease-out,
    width 1.2s ease-out, height 1.2s ease-out;
  filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a,
.boton,
.alternar-menu {
  cursor: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover,
.boton:hover {
  color: #999;
  transform: scale(1.05);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f6f6f6;
  color: #111;
  cursor: none;
}

.imagen-texto-contenido {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.carta-imagen-contenido {
  background-color: #f6f6f6;
  overflow: hidden;
}

.imagen-izquierda {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}

.imagen-izquierda img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.texto-derecha {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.texto-derecha h2 {
  font-size: 3em;
  color: #111;
  text-align: left;
}

.texto-derecha p {
  font-size: 1.1em;
  margin-bottom: 2em;
  text-align: left;
}

.contenedor-carta {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.seccion-titulo {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.division {
  width: 60px;
  height: 3px;
  background-color: #333;
  border: none;
  margin: 0 auto 30px;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.boton:hover {
  color: #fff;
  background-color: #111;
}

.barra-navegacion {
  background-color: #f6f6f6;
  color: #000;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.marca-navegacion {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.navegacion-principal {
  display: block;
  padding: 0 20px;
}

.navegacion-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navegacion-principal li {
  margin-left: 25px;
  position: relative;
}

.navegacion-principal a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  display: block;
  transition: color 0.3s ease;
}

.navegacion-principal a:hover {
  color: #fff;
  background-color: #111;
}

.desplegable .menu-desplegable {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: #000;
  background-color: #f6f6f6;
  min-width: 220px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  padding: 0px 0;
}

.desplegable:hover .menu-desplegable,
.desplegable.activo .menu-desplegable {
  display: block;
}

.menu-desplegable li {
  margin: 0;
}

.menu-desplegable a {
  padding: 12px 20px;
}

.alternar-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.barra {
  width: 100%;
  height: 3px;
  background-color: #111;
  transition: all 0.3s ease-in-out;
}

.seccion-principal {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.imagen-principal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carta-cuadrilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.carta {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carta:hover {
  transform: translateY(0px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.carta-imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.carta-cuerpo {
  padding: 25px;
  text-align: center;
}

.carta-cuerpo h3 {
  font-size: 1.5rem;
  color: #222;
  margin-top: 0;
  margin-bottom: 10px;
}

.carta-cuerpo p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
}

.plan-encabezado {
  margin-bottom: 1rem;
  text-align: center;
}

.plan h3,
.plan p {
  text-align: left;
}

.plan-precio {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.plan-precio .precio {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111;
}

.plan-precio .periodo {
  font-size: 1rem;
  color: #555;
  margin-left: 0.5rem;
}

.plan-caracteristicas {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.plan-caracteristicas ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.plan-caracteristicas li {
  text-decoration: none;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #333;
}

.plan-caracteristicas li i {
  margin-right: 0.75rem;
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  font-style: normal !important;
}

/*
.uno {
  background-image: url(images/disenopublicitario/flyerevento.png);
}
*/

.encabezado-principal {
  background-image: url(images/subbanner.png);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0 20px;
  opacity: 1;
}

.encabezado-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.encabezado-principal h1 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
}

.galeria-cuadrilla {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.item-galeria {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.item-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.item-galeria:hover img {
  transform: scale(1.05);
}

.info-cuadrilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  text-align: center;
}

.info-elemento {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  align-items: center;
}

.info-elemento:hover {
  transform: translateY(-5px);
}

.info-elemento h3 {
  color: #111;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.info-elemento p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.info-elemento i {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 15px;
}

.social-media-container {
  text-align: center;
  margin-top: 40px;
}

.social-media-container a {
  font-size: 2.5rem;
  color: #111;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.social-media-container a:hover {
  color: #666;
}

.mapa-contenedor {
  width: 100%;
  height: 450px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.mapa-contenedor iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.pie {
  background-color: #f6f6f6;
  color: #000;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.contenedor-pie {
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor-pie p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.8;
}

.formulario {
  max-width: 600px;
  margin: 80px auto 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario label {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
  text-align-last: left;
}

.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario select,
.formulario textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.formulario input[type="text"]:focus,
.formulario input[type="tel"]:focus,
.formulario input[type="email"]:focus,
.formulario select:focus,
.formulario textarea:focus {
  border-color: #111;
  outline: none;
}

.formulario textarea {
  resize: vertical;
}

.formulario input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.1rem;
  cursor: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.formulario input[type="submit"]:hover {
  background-color: #333;
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .contenedor-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .navegacion-principal {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
  }

  .navegacion-principal.activo {
    display: block;
  }

  .navegacion-principal ul {
    flex-direction: column;
    width: 100%;
  }

  .navegacion-principal li {
    margin: 0;
    width: 100%;
  }

  .alternar-menu {
    display: flex;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .desplegable .menu-desplegable {
    position: static;
    background-color: #f6f6f6;
    width: 100%;
    box-shadow: none;
  }

  .desplegable.activo .menu-desplegable {
    display: block;
    background-color: #f6f6f6;
  }

  .carta-cuadrilla {
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
  }

  .carta-elemento {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .encabezado-principal {
    height: 300px;
  }

  .encabezado-principal h1 {
    font-size: 2.5rem;
  }

  .carta-imagen-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .texto-derecha {
    flex: unset;
    min-width: unset;
    width: 100%;
    text-align: center;
  }

  .texto-derecha h2 {
    font-size: 1.5em;
    width: 100%;
    min-width: unset;
    text-align: center;
  }

  .texto-derecha p {
    font-size: 1em;
    width: 100%;
    text-align: center;
  }

  .imagen-izquierda img {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 669px) and (max-width: 1024px) {
  .alternar-menu {
    display: flex;
  }

  .navegacion-principal {
    display: none;
  }

  .navegacion-principal.activo {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .alternar-menu {
    display: none;
  }

  .navegacion-principal {
    display: flex;
    position: static;
    background-color: transparent;
    z-index: auto;
  }

  .navegacion-principal ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navegacion-principal li {
    margin: 0 10px;
  }

  .carta-cuadrilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .carta-elemento {
    width: 100%;
    max-width: 500px;
  }

  .texto-derecha h2 {
    font-size: 1.5rem;
  }
}



