:root {
  --primary-color: #000000;
  --secondary-color: #666666;
  --terceary-color: #ffffff;
  --text-light: #fff;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.flyer-section {
  padding: 20px;
}

.flyer-main-title {
  background-image: url(bgflyer.png);
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 20px;
  font-family: var(--font-bebas);
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 1;
  text-shadow: 2px 2px 10px #343434;
}

.flyer-main-title h2 {
  color: #fff;
}

.flyer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.flyer-card {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flyer-card img {
  width: 100%;
  height: auto;
  display: block;
}

img:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.imagen-zoom:-webkit-full-screen {
  /* Chrome, Safari */
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

.imagen-zoom:-moz-full-screen {
  /* Firefox */
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

.imagen-zoom:-ms-fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

.imagen-zoom:fullscreen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

#lightbox-overlay.visible {
  opacity: 1;
  visibility: visible;
}

#lightbox-imagen {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  display: block;
}

.imagen-zoom {
  cursor: zoom-in;
}

@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
    text-align: center;
  }

  .page-header .header-title {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
